#templatemo_banner {height: 300px;background: url(https://host.comunidades.net/tecnologia/img12.jpg) center center repeat;}

#slider {height: 300px;}
#featureditem1 {background-image: url(https://host.comunidades.net/tecnologia/img12.jpg);background-repeat: no-repeat;background-position: center center;height: 300px;}
#featureditem2 {background-image: url(https://host.comunidades.net/tecnologia/img13.jpg);background-repeat: no-repeat;background-position: center center;height: 300px;}
#featureditem3 {background-image: url(https://host.comunidades.net/tecnologia/img01.jpg);background-repeat: no-repeat;background-position: center center;height: 300px;}
#featureditem4 {background-image: url(https://host.comunidades.net/tecnologia/img04.jpg);background-repeat: no-repeat;background-position: center center;height: 300px;}

#templatemo_footer_banner {height: 300px;background: url(https://host.comunidades.net/tecnologia/img15.jpg) center center repeat;}