    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        color: #FFFFFF;
        background-color: #000000;
    }

    .navbar {
        background-color: #000000;
        padding: 20px 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
    }

    .logo img{
        width: 40px;
        margin: 10px;
    }

    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .menu li {
        margin-right: 20px;
    }

    .menu li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        .navbar {
            flex-direction: column;
            text-align: center;
            padding: 20px;
        }

        .menu {
            margin-top: 20px;
        }

        .menu li {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #000000;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 10px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        max-width: 1200px;
        margin: auto;
    }

    .content {
        max-width: 50%;
    }

    h1 {
        font-size: 50px;
        text-shadow: 5px 6px #2a2a2a7e;
        border: 1px #FFB30D;
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: justify;

    }

    .entrar {
        padding: 15px 30px;
        color: rgba(255, 255, 255, 0.537);
        text-decoration: none;
        font-size: 15px;
        border-radius: 50px;
        transition: background-color 0.9s ease;
        box-shadow: 0 0 10px #F2CA99;
        border: 2px solid #F2E2C4;
        border-style: solid;
        display: flex;
        background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box, linear-gradient(to right, #13f78c, #0be6e6, #f700c5) border-box;
        border-radius: 50em;
        border: 3px solid transparent;
        position: relative;
        display: inline-flex;
        justify-content: center;
        text-decoration: none;
        padding: 0.5em 1.5em;
        cursor: pointer;
        animation: rotateGradient 5s linear infinite;
    }

    @keyframes rotateGradient {
        0% {
            background-position: 0 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    .entrar:hover {
        color: #FFFFFF;
        border: 2px solid #fbff00;
        transform: scale(1.1);
        transition: 0.3s ease;
    }

    .image-container {
        width: 70%;
        z-index: 12;

    }

    .image-container img {
        width: 100%;
        display: block;
    }

    .container {
        margin-top: 120px;
        margin-bottom: none;
    }

    .imagem-com-sombra {
        filter: drop-shadow(5px 5px 10px rgba(0, 100, 122, 0.966));
        /* Ajuste a cor e o desfoque conforme necessário */
    }

    a:hover {
        border-bottom: 1px solid orangered;
        color: chocolate;
        
    }

    .logo:hover {
        border-bottom: none;
    }


    .logo {
        width: auto;
    }

    .menu {
        width: 40px;
        margin: 0;
        padding: 0;
        
    }

    .image-container {
        width: 30%;
        /* Reduzindo o tamanho do contêiner da imagem */
    }

    .container {
        max-width: 90%;
        /* Ajustando o tamanho do contêiner principal */
        margin: 120px auto;
        /* Alinhar verticalmente o contêiner principal */
    }

    .menu {
        margin-left: auto;
        /* Alinhar o menu à direita */
        width: auto;
        /* Definir a largura do menu para auto */
    }

    .firstpag{
        margin-right: 50px;
        
    }

    .firstpag:hover{
        background-color: #0066ff21;
        
        padding: 18px;
        border-radius: 40px;
       
    }

  
    .habilidades ul{
        list-style-type: disc none;
        padding-left: 0;
    }

    .habilidades li{
        position: relative;
        padding-left: 20px;
        margin-bottom: 5px;
    }
    .habilidades li::before {
        content: ""; /* Adiciona o marcador personalizado */
        position: absolute; /* Define a posição do marcador personalizado */
        left: 0; /* Posiciona o marcador personalizado à esquerda */
        top: 50%; /* Posiciona o marcador personalizado no centro vertical */
        transform: translateY(-50%); /* Alinha o marcador personalizado verticalmente */
        width: 10px; /* Define a largura do marcador personalizado */
        height: 10px; /* Define a altura do marcador personalizado */
        border: 2px solid #000; /* Adiciona uma borda ao marcador personalizado */
        border-radius: 50%; /* Define o formato de círculo */
    }